* {
  margin: 0;
  border: 0;
  padding: 0;
  font-size: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  vertical-align: baseline;
}

header {
  background-color: #4d2c91;
}

nav {
  background-color: #7e57c2;
}

footer {
  background-color: #b084f4;
  color: #000000;
}

main {
  border: 1px solid red;
}
section {
  border: 1px solid coral;
}

article {
  border: 1px solid yellow;
}

ul {
  list-style-type: none;
}

a:link,
a:hover,
a:active,
a:visited {
  color:black;
  text-decoration: none;
}


.flex-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.flex-item {
  background-color:#b084f4;
  padding: 10px 50px;
}

@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
  .flex-item {
    flex: 100%;
    width: 100%;
  }
}
